{% extends "layout.html" %}
{% block body %}
<!--Proyecto 3 Steven Brito tiene el registro -->
<div class=' mx-auto w-50 p-3'>
    <div class='text-center text-info'>Registro</div>
    {% if message %}
    <div class='text-center text-danger'>
        {{message}}
    </div>
    {% endif %}
    <form class='m-5' action="{% url 'signin' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Nombre:</label>
            <input type="text" class="form-control" name="first_name">
        </div>
        <div class="form-group">
            <label for="username">Apellido:</label>
            <input type="text" class="form-control" name="last_name">
        </div>
        <div class="form-group">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label for="email">Correo Electronico:</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">Contraseña:</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label for="pwd">Confirmacion de Contraseña:</label>
            <input type="password" class="form-control" name="password2">
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
</div>
{% endblock %}
